<!-- <mat-card class="appointment-summary-card">
    <div class="appointment-details">
        @for (item of menuItems; track $index) {
        <div class="row" [routerLink]="[item.route]" routerLinkActive="active-route"
            [routerLinkActiveOptions]="{ exact: true }">
            <div class="title">{{ item.label }}</div>
        </div>
        }

    </div>
</mat-card> -->
<mat-card class="appointment-summary-card">
  <div class="logo">ExpenseTracker</div>
  <div class="appointment-details">
    @for (item of menuItems; track $index) {
    <div
      class="row m-2"
      [routerLink]="[item.route]"
      routerLinkActive="active-route"
      [routerLinkActiveOptions]="{ exact: true }"
    >
    <div class="title flex items-center gap-3">
  <!-- Logo / Icon -->
  <mat-icon class="icon">
    {{ item.icon }}
  </mat-icon>

  <!-- Text -->
  <span class="text-base font-medium">
    {{ item.labelKey }}
  </span>
</div>

    </div>
    }
  </div>
</mat-card>
